<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Redbox News - Qui sommes-nous ?</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/img/favicon.ico" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xxl-2">
                <div class="navigation">
                    <a href="/"><img src="../static/assets/img/Redbox_White.svg">
                    <h1>La référence des sites d'actualités.</h1></a>
                    <ul>
                        <li><a href="/"><i class="icon-home icon"></i>Les actualités</a></li>
                        <li class="active"><a href=""><i class="far fa-user icon"></i>Qui sommes-nous ?</a></li>
                        <li><a href="{{ url_for('presse.home') }}"><i class="far fa-folder icon"></i>Accès presse</a></li>
                    </ul>
					<p class="footer">Copyright © 2021 Redbox-News.com.</p> 
                </div>   
            </div>
            <div class="col-md-6 col-xxl-9">
				<div class="nous">
					<section>
						<h1>Qui sommes nous ?</h1>
						<p>
						Redbox News est une plateforme d’actualités en ligne. Celle-ci nous
						permet de consulter en détails les informations régionales comme
						nationales.<br><br>


						Le client aura accès à une multitude d’informations en ligne
						gratuitement et partout dans le monde. Les nouveautés seront
						disponibles de manière permanente et ajoutées très régulièrement.<br><br>


						Il y aura deux accès à la plateforme, un accès client et un accès
						journaliste. Le journaliste pourra accéder à un panel de gestion des
						articles, il pourra mettre des articles en ligne depuis celui-ci. <br><br>


						Ce panel lui permet d’avoir un point de vu global sur ses articles et de les
						modifier ou supprimer.
						</p>
						<img src="../static/assets/img/Redbox_White.svg">
					</section>
				</div>
            </div>
        <div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>