<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Redbox - Demande d'accès</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/img/favicon.ico" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xxl-2">
                <div class="navigation">
                    <img src="../static/assets/img/Redbox%20White.svg">
                    <h1>La référence des sites d'actualités.</h1>
    
                    <ul>
                        <li><a href="/"><i class="icon-home icon"></i>Les actualités</a></li>
                        <li><a href="a-propos-de-nous"><i class="far fa-user icon"></i>Qui sommes-nous ?</a></li>
                        <li class="active"><a href="acces-presse"><i class="far fa-folder icon"></i>Accès presse</a></li>
                    </ul>
					<p class="footer">Copyright © 2021 Redbox-News.com.</p> 
                </div>   
   
            </div>
            <div class="col-md-6 col-xxl-9">
                <div class="presse">
					<section>
                        <h1>Accès Presse</h1>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flash_message">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <form method="POST">
                            <input type="text" id="input_g" name="nom" placeholder="Nom">
                            <input type="text" id="input_d" name="prenom" placeholder="Prénom">
                            <input type="tel" id="input_g" name="telephone" placeholder="Téléphone">
                            <input type="text" id="input_d" name="ville" placeholder="Ville">
                            <input type="email" name="email_inscription" placeholder="Courriel électronique">
                            <input type="password" id="input_g" name="password_inscription" placeholder="Mot de passe">
                            <input type="password" id="input_d" name="confirm_password" placeholder="Confirmation du mot de passe">

                            <button type="submit" id="creer_acces" class="bouton">Créer un accès</button>
                        </form>
					</section>
                </div>
            </div>
        <div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>