<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Redbox - Admin</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../../static/css/styles_presse.css">
    <link rel="icon" href="../../static/assets/img/favicon_dark.ico" />
</head>

<body>
    <div class="main-box">
        <div class="navigation">
            <a href="/"><img src="../../static/assets/img/Redbox_White.svg"></a>
            <ul>
                <li class="active"><a href=""><i class="fas fa-users"></i>Journalistes</a></li>
                <li ><a href="{{ url_for('admin.articles') }}"><i class="far fa-copy icon"></i>Articles</a></li>
                <li><a href="{{ url_for('presse.home') }}"><i class="far fa-folder icon"></i>Accès presse</a></li>
            </ul>
            <div class="footer-logout">
                <a href="/logout"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
                <p>Copyright © 2021 Redbox-News.com.</p> 
            </div>
        </div>
		<div class="mes-articles">
			<div class="contain-articles">
				<h1>Les journalistes</h1>
				{% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flash_message">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                    {% endwith %}
				<div class="tableau">
					<table>
                        <thead>
                            <tr id="titre-ligne">
                                <td id="titre">ID</td>
                                <td id="titre">Prénom</td>
                                <td id="titre">Nom</td>
                                <td id="titre">Email</td>
                                <td id="titre">Admin</td>
                                <td id="titre">Téléphone</td>
                                <td id="titre">Ville</td>
                                <td id="titre">Modifier</td>
                                <td id="titre">Supprimer</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journaliste in journalistes %}
                            <tr id="noir">
                                <td>{{ journaliste[0] }}</td>
                                <td>{{ journaliste[1] }}</td>
                                <td>{{ journaliste[2] }}</td>
                                <td>{{ journaliste[3] }}</td>
                                <td>{{ journaliste[4] }}</td>
                                <td>{{ journaliste[5] }}</td>
                                <td>{{ journaliste[6] }}</td>
                                <td><a href="/admin/modification-journaliste/{{ journaliste[0] }}"><button type="button" class="btn btn-outline-danger">Modifier</button></a></td>
                                <form action="/admin/supprimer/{{ journaliste[0] }}" method="POST">
                                    <td><button type="submit" class="btn btn-danger">Supprimer</button></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>